__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
ENV/
*.log
*.tmp
*.temp
allure-results/
allure-report/
.pytest_cache/
.vscode/
.idea/
*.iml
.DS_Store
__marimo__/

# Streamlit
.streamlit/secrets.toml
